services:
  immich-redis:
    image: redis
    container_name: Immich-REDIS
    hostname: immich-redis
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping || exit 1"]
    user: 1026:100
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /volume1/Workshop/docker/immich/redis:/data:rw
    restart: always

  immich-db:
    image: ghcr.io/immich-app/postgres:16-vectorchord0.3.0-pgvectors0.2.0
    container_name: Immich-DB
    hostname: immich-db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data:rw
    environment:
      - TZ=Europe/Amsterdam
      - POSTGRES_DB=immich
      - POSTGRES_USER=immichuser
      - POSTGRES_PASSWORD=immichpw
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    env_file:
      - .env  
    restart: always

  immich-server:
    image: ghcr.io/immich-app/immich-server:release
    container_name: Immich-SERVER
    hostname: immich-server
    user: 1026:100
    security_opt:
      - no-new-privileges:true
    ports:
      - 8212:2283
    volumes:
      - /volume1/Workshop/docker/immich/upload:/usr/src/app/upload:rw
    env_file:
      - .env
    restart: always
    depends_on:
      immich-redis:
        condition: service_healthy
      immich-db:
        condition: service_started

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    container_name: Immich-LEARNING
    hostname: immich-machine-learning
    #user: 1026:100
    privileged: true
    #security_opt:
      #- no-new-privileges:true
    volumes:
      - /volume1/Workshop/docker/immich/upload:/usr/src/app/upload:rw
      - /volume1/Workshop/docker/immich/cache:/cache:rw
    env_file:
      - .env
    restart: always
    depends_on:
      immich-db:
        condition: service_started