---
services:
  duplicati:
    image: duplicati/duplicati:latest
    container_name: duplicati
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - SETTINGS_ENCRYPTION_KEY=${DUPLICATI_ENCRYPTION_KEY}
#      - CLI_ARGS= #optional
#      - DUPLICATI__WEBSERVICE_PASSWORD= #optional
    volumes:
      - /var/lib/duplicati:/config
      - /mnt/workshop/docker/duplicati_zouzoulinux:/backups
      - /var/lib:/source
    ports:
      - 8200:8200
    restart: no
